<div class="footersec">
<p>Earning Disclaimer  |  Privacy Policy  |  Terms Of Service</p>
<p> Copyright © 2016 Digital Plumbing Results. All right reserved.</p>
<div class="icons">
<i class="fa fa-dribbble" style="font-size:24px"></i> 
<a href="https://www.facebook.com"><i class="fa fa-facebook" style="font-size:24px"></i> </a>
<a href="https://www.skype.com/en/get-skype/"><i class="fa fa-skype" style="font-size:24px"></i></a>
<a href="https://twitter.com/"><i class="fa fa-twitter" style="font-size:24px"></i></a>
<a href="https://www.youtube.com/"><i class="fa fa-youtube" style="font-size:24px"></i> </a>
</div>
<p>Designed and Developed by  <span id="animation"></span>
</p>
</div>

