.navsec{
    margin-right: 150px;
padding-top: 40px;


}
.navsec ul{
    float: right;
}

.navsec ul li{
    list-style: none;
display: inline-block;
margin-left: 0px;
margin-right: 60px;

}
.navsec ul li a{
    text-decoration: none;
    color: black;
}
.navsec ul li .active {
    color: blue;
}

@media only screen and (max-width: 700px) {
    .navsec ul li{

        margin-right: 15px; 
    }
    .navsec ul li a{
        font-size: 10px;
    }
    .navsec{
        margin-right: 0px;
    }
}
